.hide {
    display: none;
}

.image-upload > input {
    display: none;
}

body {
    /* 加入一下两行 */
    min-width: 1200px;
    min-height: 300px;

}

.non-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hrd {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: none;
}

.selector {
    display: none;
}

.next {
    display: none;
}

.prev {
    display:none
}